.external_link_dialog_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    color: var(--announcement-font-color);
    padding: 40px 20px;
    border-radius: 20px;
    z-index: 1000;
    text-align: center;
    min-width: 300px;
    max-width: 500px;
    width: calc(100% - 80px);
    min-width: 370px;
}

.external_link_dialog_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d7e;
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    z-index: 999;
}

.external_link_dialog_wrapper .external_link_dialog_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--announcement-font-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.external_link_dialog_close:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.external_link_dialog_wrapper .external_link_dialog_title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.external_link_dialog_wrapper .external_link_dialog_message {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.external_link_dialog_message {
    opacity: 0.8;
}

.external_link_dialog_url_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    gap: 5px;
}

.external_link_dialog_wrapper .external_link_dialog_url {
    font-size: 13px;
    color: var(--accent);
    padding: 10px 15px;
    background-color: #58a6ff1a;
    border-radius: 10px 5px 5px 10px;
    word-break: break-all;
    max-height: 80px;
    overflow-y: auto;
    align-content: center;
}

.external_link_dialog_wrapper .external_link_dialog_url_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.external_link_dialog_btn_virustotal {
    background-color: transparent;
    color: var(--accent);
    border: none;
    padding: 5px;
    font-size: 20px;
    min-width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    flex-shrink: 0;
    background-color: #58a6ff1a;
    border-radius: 5px 10px 10px 5px !important;
}

.external_link_dialog_wrapper .external_link_dialog_buttons {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.external_link_dialog_btn {
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    font-size: 14px;
}

.external_link_dialog_btn_confirm {
    background-color: var(--accent);
    color: var(--bg-primary);
}

.external_link_dialog_btn_confirm:hover,.external_link_dialog_btn_cancel:hover {
    opacity: 0.85;
}

.external_link_dialog_btn_cancel {
    background-color: transparent;
    color: var(--announcement-font-color);
    border: 2px solid var(--announcement-font-color);
}

@media screen and (max-width: 750px) {
    .external_link_dialog_url_wrapper{
        flex-direction: column;
    }

    .external_link_dialog_btn_virustotal{
        width: 100%;
        border-radius: 30px !important;
    }

    .external_link_dialog_wrapper .external_link_dialog_url{
        border-radius: 10px !important;
    }
}

@keyframes confirmDialogIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
