[dark="true"] {
    --background-color: #101010b0;
    --background-color-fill: #101010;
    --font-secondary-color: #d6d6d6;
    --font-hover-color: #000;
    --font-sign-color: #ffffff15;
    --mainBtn-color: #4040402b;
    --theme-color: #c2daf8;
    --theme-background-color: #425f7a99;
    --btn-hover-color: #2356708c;
    --announcement-font-color: #fff;
}

[dark="false"] {
    --background-color: #ffffffa3;
    --background-color-fill: #ffffff;
    --font-secondary-color: #ffffff9a;
    --font-sign-color: #50505021;
    --theme-color: #bedaf1;
    --theme-background-color: #61779085;
    --btn-hover-color: #445872a6;
    --announcement-font-color: #2c2c2c;
}

:root {
    --global-blur: blur(20px);
    --font-color: #fff;
}

* {
    font-family: "Noto Sans HK", serif;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--font-hover-color);
    overflow: hidden;
}

a {
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.95;
    animation: bgFadeIn 1.9s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
    filter: blur(10px);
}

.main {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scrollbar-width: none;
}

.main::-webkit-scrollbar {
    display: none;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: calc(100vh - 90px);
    justify-content: center;
}

.page-title {
    margin: 0 0 20px 140px;
    color: var(--font-color);
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    max-width: 650px;
}

.page-title::before {
    content: '';
    width: 70px;
    height: 36px;
    background-color: var(--font-color);
    position: absolute;
    margin-left: -70px;
}

.page-indicator {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 996;
}

.page-indicator .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cccccc77;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.page-indicator .dot.active {
    background-color: #ffffff;
}

.img {
    width: 135px;
    height: 135px;
    position: relative;
    border-radius: 80px;
}

.main .img .intro {
    bottom: 5px;
    left: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .img .intro .tag::before {
    content: '#';
}

.main .img .intro .name,
.main .img .intro .tag {
    background-color: var(--background-color);
    width: fit-content;
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    color: var(--font-color);
    border-radius: 30px;
    padding: 5px 10px;
}

.main .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main .text h1 {
    margin-bottom: 5px;
    color: var(--font-color);
    margin: 20px 15px 5px 15px;
}

.main .text h2 {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    color: var(--font-secondary-color);
    margin-bottom: 10px;
}

.mediaBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.link-btn-box:hover {
    background-color: var(--btn-hover-color) !important;
}

.link-info-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediaBtn .btnImage {
    background-position: center;
    background-size: cover;
    padding: 14px 24px !important;
}

.mediaBtn .link-btn-box {
    border-radius: 10px;
    padding: 28px 35px;
    width: 100%;
    max-width: 650px;
    height: 40px;
    color: var(--theme-color);
    text-decoration: none;
    margin: 10px;
    background-color: var(--theme-background-color);
    backdrop-filter: var(--global-blur);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.link-desc {
    background-color: var(--theme-background-color);
    border-radius: 30px;
    padding: 5px 15px;
}

.box_container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    width: 100%;
    max-width: 950px;
}

.box_container .header {
    color: var(--font-color);
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 30px;
    width: fit-content;
    padding: 5px 10px;
    font-size: 18px;
}

.btn_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.link-icon {
    padding: 0 15px;
}

.link-icon-text {
    font-style: normal;
    font-weight: bolder;
    font-family: "Rampart One", serif;
}

.musicIcon,
.githubIcon {
    font-size: 20px;
    margin-right: 5px;
}

.share {
    color: #fff !important;
    text-decoration: none !important;
    z-index: 10;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    right: 0;
    height: fit-content;
    bottom: 0;
}

.share_footer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    position: absolute;
    filter: blur(10px);
    animation: bgFootFadeIn 1.9s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
}

.share::-webkit-scrollbar {
    display: none;
}

.music {
    margin: 20px 15px;
}

.MusicName {
    color: #fff !important;
    text-decoration: none !important;
}

.MusicName {
    cursor: pointer;
    max-width: 70vw;
    height: 23px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.musicNameWrapper {
    display: flex;
    flex-direction: row;
    right: 0;
    position: relative;
    text-align: end;
}

a.MusicName:-webkit-any-link {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

#dcount-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    max-width: 650px;
}

.dcount-card {
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    padding: 30px 40px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
}

.dcount-card-title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--theme-color);
    padding-bottom: 10px;
}

.dcount-card[data-today="true"] {
    order: -1;
    flex: 1 1 100%;
    background-image: linear-gradient(45deg, #4413db70, #eb369969);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 997;
}

nav .nav {
    display: flex;
    background-color: var(--theme-background-color);
    margin: 20px;
    border-radius: 30px;
    padding: 0 10px;
    color: var(--font-color);
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    transition: all 0.3s ease-in-out;
}

nav .nav>* {
    margin: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

nav .nav>*:hover {
    background-color: var(--btn-hover-color);
    padding: 5px 10px;
    border-radius: 30px;
}

nav .nav-icon,
.nav-toggle {
    display: none;
}

nav .nav-item[n-hide="true"] {
    display: none;
}

.announcement-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    backdrop-filter: var(--global-blur);
    color: var(--announcement-font-color);
    padding: 40px;
    border-radius: 20px;
    z-index: 999;
    text-align: center;
    animation: announcementIn 0.5s cubic-bezier(0.75, 0.15, 0.16, 0.99) forwards
}

.announcement-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    backdrop-filter: var(--global-blur);
    z-index: 998;
}

.announcement-wrapper .announcement-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--announcement-font-color);
    cursor: pointer;
}

.announcement-wrapper .announcement-title {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.announcement-wrapper img {
    width: 220px;
    margin: 10px 20px;
}

.announcement-wrapper .announcement-content {
    font-size: 15px;
    margin: 20px 0 0 0;
}

.announcement-content a{
    color: var(--announcement-font-color)
}

.announcement-wrapper .announcement-button {
    background-color: #1ed760;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.announcement-hashtag {
    font-size: 15px;
}

#rot13-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
}

#rot13-input {
    width: 100%;
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    min-height: 150px;
    text-align: center;
    margin-bottom: 20px;
}

#rot13-input::placeholder{
    color: var(--theme-color);
}

#rot13-input:focus {
    outline: none;
}

#rot13-decrypt-btn {
    width: 100%;
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    border: none;
    border-radius: 20px;
    padding: 30px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rot13-output {
    width: 100%;
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    min-height: 150px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Optimize for mobile */

@media screen and (max-width: 750px) {

    .mediaBtn,
    .page-title {
        padding: 0 35px;
    }

    .link-desc {
        display: none;
    }

    .link-btn-box {
        justify-content: center !important;

    }

    #dcount-container {
        width: 100%;
        padding: 0 35px;
    }

    .page-indicator {
        right: 10px;
    }

    .page-indicator .dot {
        width: 8px;
        height: 8px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 997;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }

    nav .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: var(--theme-background-color);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        padding-bottom: 0;
        margin: 0;
        border-radius: 0;
        max-height: 0;
    }

    .nav.open {
        max-height: 100%;
        transition: all 0.3s ease-in-out;
    }

    nav .nav-icon {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 5px;
        padding: 0;
    }

    nav .nav>* {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .nav>*:hover {
        border-radius: 12px;
    }

    nav .nav-icon,
    .nav-toggle {
        display: block;
    }

    nav .nav-item {
        width: 100%;
    }

    nav .nav-item:nth-last-child(1) {
        margin-bottom: 20px;
    }

    .nav-toggle {
        background: none;
        border: none;
        color: var(--theme-color);
        font-size: 24px;
        cursor: pointer;
        margin: 10px;
    }

    .nav-toggle.close-btn {
        align-self: flex-end;
    }

    nav .nav-item[n-hide="true"] {
        display: flex;
    }

    .page[p-name="We are"] iframe {
        padding: 0 35px;
    }

    #rot13-container{
        padding: 0 35px;
    }
}

/* Animation */
@keyframes bgFadeIn {
    0% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes snackIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes snackOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(200%);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes announcementIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}