[theme="classic"] {
    --background-color: #1d1d1d;
    --background-color-fill: #101010;
    --font-color: #ffffff;
    --font-secondary-color: #dadadacb;
    --font-sign-color: #ffffff;
    --theme-color: #ffffff;
    --theme-background-color: #292a2b99;
    --btn-hover-color: #12121399;
    --announcement-font-color: #fff;
    --loader-background-color: #ffffff;
    --loader-color: #4d4e4e;
    --theme-border-color: #4b99f1;
    --theme-font-color: #4b99f1;
}